{% set adjective = ['adorable', 'adventurous', 'aggressive',
'agreeable','alert', 'alive', 'amused', 'angry', 'annoyed', 'annoying',
'anxious','arrogant', 'ashamed', 'attractive', 'average', 'awful', 'bad',
'beautiful','better', 'bewildered', 'black', 'bloody', 'blue', 'blue-eyed',
'blushing','bored', 'brainy', 'brave', 'breakable', 'bright', 'busy', 'calm',
'careful','cautious', 'charming', 'cheerful', 'clean', 'clear', 'clever',
'cloudy','clumsy', 'colorful', 'combative', 'comfortable', 'concerned',
'condemned','confused', 'cooperative', 'courageous', 'crazy', 'creepy',
'crowded', 'cruel','curious', 'cute', 'dangerous', 'dark', 'dead', 'defeated',
'defiant','delightful', 'depressed', 'determined', 'different', 'difficult',
'disgusted','distinct', 'disturbed', 'dizzy', 'doubtful', 'drab', 'dull'] |
random%} 
{% set noun = [ "Armour", "Barrymore", "Cabot", "Catholicism",
"Chihuahua","Christianity", "Easter", "Frenchman", "Lowry", "Mayer",
"Orientalism","Pharaoh", "Pueblo", "Pullman", "Rodeo", "Saturday", "Sister",
"Snead", "Syrah","Tuesday", "Woodward", "abbey", "absence", "absorption",
"abstinence","absurdity", "abundance", "acceptance", "accessibility",
"accommodation","accomplice", "accountability", "accounting", "accreditation",
"accuracy","acquiescence", "acreage", "actress", "actuality", "adage",
"adaptation","adherence", "adjustment", "adoption", "adultery", "advancement",
"advert","advertisement", "advertising", "advice", "aesthetics",
"affinity","aggression", "agriculture", "aircraft", "airtime", "allegation",
"allegiance","allegory", "allergy", "allies", "alligator", "allocation",
"allotment","altercation", "ambulance", "ammonia", "anatomy", "anemia",
"ankle","announcement", "annoyance", "annuity", "anomaly", "anthropology",
"anxiety","apartheid", "apologise", "apostle", "apparatus", "appeasement",
"appellation","appendix", "applause", "appointment", "appraisal", "archery",
"archipelago","architecture", "ardor", "arrears", "arrow", "artisan",
"artistry", "ascent","assembly", "assignment", "association", "asthma",
"atheism", "attacker","attraction", "attractiveness", "auspices", "authority",
"avarice", "aversion","aviation", "babbling", "backlash", "baker", "ballet",
"balls", "banjo","baron", "barrier", "barrister", "bases", "basin", "basis",
"battery","battling", "bedtime", "beginner", "begun", "bending", "bicycle",
"billing","bingo", "biography", "biology", "birthplace", "blackberry",
"blather","blossom", "boardroom", "boasting", "bodyguard", "boldness",
"bomber","bondage", "bonding", "bones", "bonus", "bookmark", "boomer", "booty",
"bounds","bowling", "brainstorming", "breadth", "breaker", "brewer",
"brightness","broccoli", "broth", "brotherhood", "browsing", "brunch", "brunt",
"building","bullion", "bureaucracy", "burglary", "buyout", "by-election",
"cabal","cabbage", "calamity", "campaign", "canonization", "captaincy",
"carcass","carrier", "cartridge", "cassette", "catfish", "caught",
"celebrity","cemetery", "certainty", "certification", "charade", "chasm",
"check-in","cheerleader", "cheesecake", "chemotherapy", "chili", "china",
"chivalry","cholera", "cilantro", "circus", "civilisation", "civility",
"clearance","clearing", "clerk", "climber", "closeness", "clothing", "clutches",
"coaster","coconut", "coding", "collaborator", "colleague", "college",
"collision","colors", "combustion", "comedian", "comer", "commander",
"commemoration","commenter", "commissioner", "commune", "competition",
"completeness","complexity", "computing", "comrade", "concur", "condominium",
"conduit","confidant", "configuration", "confiscation", "conflagration",
"conflict","consist", "consistency", "consolidation", "conspiracy", "constable",
"consul","consultancy", "contentment", "contents", "contractor",
"conversation","cornerstone", "corpus", "correlation", "councilman",
"counselor", "countdown","countryman", "coverage", "covering", "coyote",
"cracker", "creator","criminality", "crocodile", "cropping",
"cross-examination", "crossover","crossroads", "culprit", "cumin", "curator",
"curfew", "cursor", "custard","cutter", "cyclist", "cyclone", "cylinder",
"cynicism", "daddy", "damsel","darkness", "dawning", "daybreak", "dealing",
"dedication", "deduction","defection", "deference", "deficiency", "definition",
"deflation","degeneration", "delegation", "delicacy", "delirium", "deliverance",
"demeanor","demon", "demonstration", "denomination", "dentist", "departure",
"depletion","depression", "designation", "despotism", "detention",
"developer","devolution", "dexterity", "diagnosis", "dialect",
"differentiation", "digger","digress", "dioxide", "diploma", "disability",
"disarmament", "discord","discovery", "dishonesty", "dismissal", "disobedience",
"dispatcher","disservice", "distribution", "distributor", "diver", "diversity",
"docking","dollar", "dominance", "domination", "dominion", "donkey",
"doorstep","doorway", "dossier", "downside", "drafting", "drank", "drilling",
"driver","drumming", "drunkenness", "duchess", "ducking", "dugout", "dumps",
"dwelling","dynamics", "eagerness", "earnestness", "earnings", "eater",
"editor","effectiveness", "electricity", "elements", "eloquence",
"emancipation","embodiment", "embroidery", "emperor", "employment",
"encampment", "enclosure","encouragement", "endangerment", "enlightenment",
"enthusiasm", "environment","environs", "envoy", "epilepsy", "equation",
"equator", "error", "espionage","estimation", "evacuation", "exaggeration",
"examination", "exclamation","expediency", "exploitation", "extinction",
"eyewitness", "falls", "fascism","fastball", "feces", "feedback", "ferocity",
"fertilization", "fetish","finale", "firing", "fixing", "flashing", "flask",
"flora", "fluke", "folklore","follower", "foothold", "footing", "forefinger",
"forefront", "forgiveness","formality", "formation", "formula", "foyer",
"fragmentation", "framework","fraud", "freestyle", "frequency", "friendliness",
"fries", "frigate","fulfillment", "function", "functionality", "fundraiser",
"fusion", "futility","gallantry", "gallery", "genesis", "genitals",
"girlfriend", "glamour","glitter", "glucose", "google", "grandeur", "grappling",
"greens", "gridlock","grocer", "groundwork", "grouping", "gunman", "gusto",
"habitation", "hacker","hallway", "hamburger", "hammock", "handling", "hands",
"handshake","happiness", "hardship", "headcount", "header", "headquarters",
"heads","headset", "hearth", "hearts", "heath", "hegemony", "height", "hello",
"helper","helping", "helplessness", "hierarchy", "hoarding", "hockey",
"homeland","homer", "honesty", "horror", "horseman", "hostility", "housing",
"humility","hurricane", "iceberg", "ignition", "illness", "illustration",
"illustrator","immunity", "immunization", "imperialism", "imprisonment",
"inaccuracy","inaction", "inactivity", "inauguration", "indecency",
"indicator","inevitability", "infamy", "infiltration", "influx", "iniquity",
"innocence","innovation", "insanity", "inspiration", "instruction",
"instructor", "insurer","interact", "intercession", "intercourse",
"intermission", "interpretation","intersection", "interval", "intolerance",
"intruder", "invasion", "investment","involvement", "irrigation", "iteration",
"jenny", "jogging", "jones", "joseph","juggernaut", "juncture", "jurisprudence",
"juror", "kangaroo", "kingdom","knocking", "laborer", "larceny", "laurels",
"layout", "leadership", "leasing","legislation", "leopard", "liberation",
"licence", "lifeblood", "lifeline","ligament", "lighting", "likeness",
"line-up", "lineage", "liner", "lineup","liquidation", "listener", "literature",
"litigation", "litre", "loathing","locality", "lodging", "logic", "longevity",
"lookout", "lordship", "lustre","ma'am", "machinery", "madness", "magnificence",
"mahogany", "mailing","mainframe", "maintenance", "majority", "manga", "mango",
"manifesto", "mantra","manufacturer", "maple", "martin", "martyrdom",
"mathematician", "matrix","matron", "mayhem", "mayor", "means", "meantime",
"measurement", "mechanics","mediator", "medics", "melodrama", "memory",
"mentality", "metaphysics","method", "metre", "miner", "mirth", "misconception",
"misery", "mishap","misunderstanding", "mobility", "molasses", "momentum",
"monarchy", "monument","morale", "mortality", "motto", "mouthful", "mouthpiece",
"mover", "movie","mowing", "murderer", "musician", "mutation", "mythology",
"narration","narrator", "nationality", "negligence", "neighborhood",
"neighbour","nervousness", "networking", "nexus", "nightmare", "nobility",
"nobody","noodle", "normalcy", "notification", "nourishment", "novella",
"nucleus","nuisance", "nursery", "nutrition", "nylon", "oasis", "obscenity",
"obscurity","observer", "offense", "onslaught", "operation", "opportunity",
"opposition","oracle", "orchestra", "organisation", "organizer",
"orientation","originality", "ounce", "outage", "outcome", "outdoors",
"outfield", "outing","outpost", "outset", "overseer", "owner", "oxygen",
"pairing", "panther","paradox", "parliament", "parsley", "parson", "passenger",
"pasta", "patchwork","pathos", "patriotism", "pendulum", "penguin",
"permission", "persona","perusal", "pessimism", "peter", "philosopher",
"phosphorus", "phrasing","physique", "piles", "plateau", "playing", "plaza",
"plethora", "plurality","pneumonia", "pointer", "poker", "policeman", "polling",
"poster", "posterity","posting", "postponement", "potassium", "pottery",
"poultry", "pounding","pragmatism", "precedence", "precinct", "preoccupation",
"pretense","priesthood", "prisoner", "privacy", "probation", "proceeding",
"proceedings","processing", "processor", "progression", "projection",
"prominence","propensity", "prophecy", "prorogation", "prospectus", "protein",
"prototype","providence", "provider", "provocation", "proximity", "puberty",
"publicist","publicity", "publisher", "pundit", "putting", "quantity", "quart",
"quilting","quorum", "racism", "radiance", "ralph", "rancher", "ranger",
"rapidity","rapport", "ratification", "rationality", "reaction", "reader",
"reassurance","rebirth", "receptor", "recipe", "recognition", "recourse",
"recreation","rector", "recurrence", "redemption", "redistribution",
"redundancy","refinery", "reformer", "refrigerator", "regularity",
"regulator","reinforcement", "reins", "reinstatement", "relativism",
"relaxation","rendition", "repayment", "repentance", "repertoire", "repository",
"republic","reputation", "resentment", "residency", "resignation",
"restaurant","resurgence", "retailer", "retention", "retirement", "reviewer",
"riches","righteousness", "roadblock", "robber", "rocks", "rubbing", "runoff",
"saloon","salvation", "sarcasm", "saucer", "savior", "scarcity", "scenario",
"scenery","schism", "scholarship", "schoolboy", "schooner", "scissors",
"scolding","scooter", "scouring", "scrimmage", "scrum", "seating", "sediment",
"seduction","seeder", "seizure", "self-confidence", "self-control",
"self-respect","semicolon", "semiconductor", "semifinal", "senator", "sending",
"serenity","seriousness", "servitude", "sesame", "setup", "sewing", "sharpness",
"shaving","shoplifting", "shopping", "siding", "simplicity", "simulation",
"sinking","skate", "sloth", "slugger", "snack", "snail", "snapshot", "snark",
"soccer","solemnity", "solicitation", "solitude", "somewhere",
"sophistication","sorcery", "souvenir", "spaghetti", "specification",
"specimen", "specs","spectacle", "spectre", "speculation", "sperm", "spoiler",
"squad", "squid","staging", "stagnation", "staircase", "stairway", "stamina",
"standpoint","standstill", "stanza", "statement", "stillness", "stimulus",
"stocks", "stole","stoppage", "storey", "storyteller", "stylus", "subcommittee",
"subscription","subsidy", "suburb", "success", "sufferer", "supposition",
"suspension","sweater", "sweepstakes", "swimmer", "syndrome", "synopsis",
"syntax", "system","tablespoon", "taker", "tavern", "technology", "telephony",
"template", "tempo","tendency", "tendon", "terrier", "terror", "terry",
"theater", "theology","therapy", "thicket", "thoroughfare", "threshold",
"thriller", "thunderstorm","ticker", "tiger", "tights", "to-day", "tossing",
"touchdown", "tourist","tourney", "toxicity", "tracing", "tractor",
"translation", "transmission","transmitter", "trauma", "traveler", "treadmill",
"trilogy", "trout", "tuning","twenties", "tycoon", "tyrant", "ultimatum",
"underdog", "underwear","unhappiness", "unification", "university", "uprising",
"vaccination","validity", "vampire", "vanguard", "variation", "vegetation",
"verification","viability", "vicinity", "victory", "viewpoint", "villa",
"vindication","violation", "vista", "vocalist", "vogue", "volcano", "voltage",
"vomiting","vulnerability", "waistcoat", "waitress", "wardrobe", "warmth",
"watchdog","wealth", "weariness", "whereabouts", "whisky", "whiteness",
"widget", "width","windfall", "wiring", "witchcraft", "withholding",
"womanhood", "words","workman", "youngster" ] | random | lower %} 

{% set verb =
[ "abetting", "abhorring", "about-shipping", "abutting", "acquitting",
"ad-libbing", "admitting", "airdropping", "allotting", "annulling", "appalling",
"arcking", "averring", "baby-sitting", "back-pedalling", "bagging",
"ballyragging", "banning", "barrelling", "barring", "batting", "bayonetting",
"bedding", "bedevilling", "bedimming", "befitting", "befogging", "begetting",
"begging", "beginning", "bejewelling", "belly-flopping", "belying",
"benefitting", "besetting", "bestirring", "betting", "bevelling", "biassing",
"bidding", "bing", "binning", "bird-dogging", "bitting", "bivouacking",
"blabbing", "blacklegging", "blatting", "blipping", "blobbing", "blotting",
"blubbing", "blue-pencilling", "blurring", "bobbing", "booby-trapping",
"bootlegging", "bopping", "bragging", "brevetting", "brimming", "budding",
"bugging", "bulldogging", "bullshitting", "bullwhipping", "bullyragging",
"bumming", "burring", "bushelling", "caballing", "caddying", "canalling",
"cancelling", "canning", "capping", "carburetting", "carillonning", "carolling",
"catnapping", "catting", "cavilling", "channelling", "chapping", "charring",
"chatting", "chivvying", "chinning", "chipping", "chiselling", "chitchatting",
"chivving", "chopping", "chugging", "chumming", "cladding", "clamming",
"clapping", "clemming", "clipping", "clogging", "clopping", "clotting",
"clubbing", "co-opting", "co-ordinating", "co-starring", "codding", "cogging",
"coiffing", "combatting", "committing", "compelling", "complotting",
"concurring", "confabbing", "conferring", "conning", "controlling", "copping",
"coquetting", "corralling", "counselling", "counterplotting",
"court-martialling", "crabbing", "cramming", "crapping", "cribbing", "cropping",
"crosscutting", "cubbing", "cudgelling", "cupelling", "cupping", "curetting",
"curvetting", "cutting", "dabbing", "dagging", "damming", "dapping",
"debarring", "debugging", "debussing", "decontrolling", "deferring",
"degassing", "demitting", "demobbing", "demurring", "denning", "deterring",
"devilling", "diagramming", "dialling", "dibbing", "digging", "dimming",
"dinning", "dipping", "disannulling", "disbarring", "disbudding",
"disembowelling", "disenthralling", "dishevelling", "disinterring",
"dispelling", "distilling", "dogging", "doglegging", "donning", "dotting",
"drabbing", "dragging", "dripping", "drivelling", "dropping", "drubbing",
"drugging", "drumming", "dubbing", "duelling", "dunning", "dying",
"eavesdropping", "ego-tripping", "embedding", "embussing", "emitting",
"empanelling", "enamelling", "englutting", "enrolling", "enthralling",
"entrammelling", "entrapping", "enwrapping", "equalling", "equipping",
"estopping", "excelling", "expelling", "extolling", "facetting", "fagging",
"fanning", "fatting", "featherbedding", "fibbing", "figging", "finning",
"fitting", "flagging", "flamming", "flannelling", "flapping", "flatting",
"flimflamming", "flip-flopping", "flipping", "flitting", "flogging", "flopping",
"flubbing", "fobbing", "fogging", "footslogging", "forbidding", "forerunning",
"forgetting", "formatting", "foxtrotting", "frapping", "fretting", "frigging",
"fritting", "frivolling", "frogging", "frolicking", "fuelling", "fulfilling",
"funnelling", "funning", "furring", "gadding", "gagging", "gambolling",
"gamming", "ganning", "gapping", "gassing", "gelling", "gemming", "getting",
"gibbing", "giftwrapping", "gigging", "ginning", "gipping", "glomming",
"glutting", "goose-stepping", "grabbing", "gravelling", "grinning", "gripping",
"gritting", "grovelling", "grubbing", "gumming", "gunning", "gypping",
"having_a_feeling", "having_the_feeling", "hamming", "hand-knitting",
"handicapping", "handselling", "hatchelling", "hatting", "hedgehopping",
"hemming", "hiccupping", "high-hatting", "hitting", "hobbing", "hobnobbing",
"hocus-pocussing", "hocussing", "hogging", "hogtying", "hopping",
"horsewhipping", "houselling", "hovelling", "hugging", "humbugging", "humming",
"imbedding", "impanelling", "impelling", "incurring", "inferring",
"initialling", "insetting", "inspanning", "installing", "intercropping",
"intercutting", "interlapping", "intermitting", "interring", "intromitting",
"inwrapping", "jabbing", "jagging", "jamming", "japanning", "jarring",
"jetting", "jewelling", "jibbing", "jigging", "jitterbugging", "jobbing",
"jog-trotting", "jogging", "jotting", "joypopping", "jugging", "jutting",
"kennelling", "kenning", "kernelling", "kidding", "kidnapping", "kipping",
"knapping", "kneecapping", "knitting", "knobbing", "knotting", "ko'ing",
"labelling", "ladyfying", "lagging", "lallygagging", "lamming", "lapping",
"laurelling", "leapfrogging", "letting", "levelling", "libelling", "lipping",
"lobbing", "logging", "lopping", "lotting", "lugging", "lying",
"machine-gunning", "madding", "manning", "manumitting", "mapping", "marcelling",
"marring", "marshalling", "marvelling", "matting", "medalling", "metalling",
"mimicking", "misfitting", "mishitting", "mobbing", "modelling", "mopping",
"mudding", "mugging", "mumming", "nabbing", "nagging", "napping", "netting",
"nibbing", "nickelling", "nid-nodding", "nipping", "nodding", "non-prossing",
"nonplussing", "nutting", "occurring", "offsetting", "omitting", "outbidding",
"outcropping", "outfitting", "outgassing", "outgeneralling", "outmanning",
"outputting", "outrunning", "outspanning", "outstripping", "outwitting",
"overbidding", "overcropping", "overlapping", "overlying", "overmanning",
"overrunning", "oversetting", "overstepping", "overtopping", "padding",
"palling", "panelling", "panicking", "panning", "parallelling", "parcelling",
"pasquilling", "patrolling", "patting", "pedalling", "pegging", "pencilling",
"penning", "pepping", "permitting", "pettifogging", "petting", "photomapping",
"photosetting", "physicking", "picnicking", "pigging", "pinch-hitting",
"pinning", "pipping", "pistol-whipping", "pistolling", "pitapatting", "pitting",
"planning", "platting", "plodding", "plopping", "plotting", "plugging",
"podding", "pommelling", "popping", "potting", "precancelling", "preferring",
"pretermitting", "prigging", "primming", "prodding", "programming", "prologing",
"propelling", "propping", "pubbing", "pugging", "pummelling", "punning",
"pupping", "put-putting", "putting", "quarrelling", "quickstepping", "quipping",
"quitting", "quizzing", "ragging", "ramming", "rappelling", "rapping",
"ratting", "ravelling", "razor-cutting", "rebelling", "rebutting", "recapping",
"recommitting", "recurring", "red-pencilling", "redding", "referring",
"refitting", "refuelling", "regretting", "remitting", "repelling", "repotting",
"rerunning", "resetting", "resitting", "retransmitting", "retrofitting",
"retting", "revelling", "revetting", "revving", "ribbing", "ricochetting",
"ridding", "rigging", "rimming", "ripping", "rivalling", "robbing", "rotting",
"rowelling", "rubbing", "running", "rutting", "sagging", "sandbagging",
"sapping", "scagging", "scanning", "scarring", "scatting", "scragging",
"scramming", "scrapping", "scrubbing", "scrumming", "scudding", "scumming",
"setting", "shagging", "shamming", "sharecropping", "shedding", "shellacking",
"shikarring", "shimming", "shinning", "shipping", "shitting", "shopping",
"shotgunning", "shotting", "shovelling", "shredding", "shrink-wrapping",
"shrivelling", "shrugging", "shunning", "shutting", "sicking", "sideslipping",
"sidestepping", "signalling", "singing", "single-stepping", "sinning",
"sipping", "sitting", "skenning", "sketting", "skidding", "skimming",
"skin-popping", "skinning", "skinny-dipping", "skipping", "slabbing",
"slagging", "slamming", "slapping", "slatting", "sledding", "slipping",
"slitting", "slogging", "slopping", "slotting", "slugging", "slumming",
"slurring", "smutting", "snagging", "snapping", "snedding", "snipping",
"snivelling", "snogging", "snubbing", "snugging", "sobbing", "sodding",
"soft-pedalling", "sopping", "spagging", "spancelling", "spanning", "sparring",
"spatting", "spinning", "spiralling", "spitting", "splitting", "spotting",
"sprigging", "spudding", "spurring", "squatting", "squibbing", "squidding",
"stabbing", "starring", "stemming", "stencilling", "stepping", "stetting",
"stilettoeing", "stirring", "stopping", "stotting", "strapping", "stripping",
"stropping", "strumming", "strutting", "stubbing", "studding", "stumming",
"stunning", "stymying", "subbing", "subletting", "submitting", "subtotalling",
"sulphuretting", "summing", "sunning", "supping", "swabbing", "swagging",
"swopping", "swatting", "swigging", "swimming", "swivelling", "swotting",
"symbolling", "tabbing", "tagging", "talcking", "tanning", "tapping", "tarring",
"tasselling", "tatting", "taxying", "teaselling", "tedding", "thinning",
"throbbing", "thrumming", "thudding", "tinning", "tinselling", "tipping",
"tittupping", "togging", "topping", "totalling", "totting", "towelling",
"trafficking", "tramelling", "tramming", "transferring", "transhipping",
"transmitting", "transshipping", "trapanning", "trapping", "travelling",
"trekking", "trepanning", "trigging", "trimming", "tripping", "trogging",
"trotting", "trowelling", "tugging", "tunnelling", "tunning", "tupping",
"tut-tutting", "twigging", "twinning", "twitting", "tying", "typesetting",
"unbarring", "uncapping", "unclogging", "underbidding", "undercutting",
"underletting", "underlying", "underpinning", "underpropping", "undersetting",
"unfitting", "unkennelling", "unknitting", "unmanning", "unpegging",
"unpinning", "unplugging", "unravelling", "unrigging", "unripping",
"unshipping", "unsnapping", "unstepping", "unstopping", "untying", "unwrapping",
"unzipping", "uppercutting", "upping", "upsetting", "vagging", "vatting",
"vetting", "victualling", "vitriolling", "vying", "wadding", "wadsetting",
"wagging", "wanning", "warring", "weatherstripping", "webbing", "wedding",
"wetting", "whamming", "whapping", "whetting", "whipping", "whirring",
"whistle-stopping", "whizzing", "whopping", "wigging", "wigwagging",
"wildcatting", "window-shopping", "winning", "wonning", "worshipping",
"wrapping", "yakking", "yapping", "yenning", "yodelling", "zapping",
"zigzagging", "zipping"] | random %}

{% set prep = ["of", "for", "with", "by", "as", "from", "to", "the"] | random %}